<%- include('partials/head'); %>

    <body>
        <%- include('partials/navbar'); %>
            <h1 id="chategorize">
                Chategorize
            </h1>

            <div class="container-fluid chatname-wrapper">
                <div class="row" id="main-page">

                    <div id="room-info" class="col">
                        <div class="hello-cont">
                        <span class="hello">Hello,&nbsp; </span>
                        <h3 id="yourname" class="yourname">
                        <%= currUser.username %>
                        </h3>
                    </div>

                        <h4 id="this-room-is">This Room is:</h4>
                        <h3 id="chat-title">
                            <%= room.name %>
                        </h3>

                    </div>

                    <div class="col-6" id="chat-cont">
                        <div id="scroll-cont">
                            <div id="message-container">
                                <ul id="history"></ul>
                                <ul id="messages"></ul>
                            </div>
                        </div>

                        <form id="form">
                            <textarea id="input" type="text" placeholder="Enter Message here"></textarea>
                            <button id="send-your-message" class="fancy-button">Send</button>

                            <%- include('partials/emojis'); %>

                        </form>

                    </div>

                    <div class="col" id="members-cont">
                        <div id="accordion">
                            <div class="card">
                                <div class="card-header" id="headingOne">
                                    <h5 class="mb-0">
                                        <button id="title-text" class="btn btn-link" data-toggle="collapse"
                                            data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                            Chat Members
                                        </button>
                                    </h5>
                                </div>

                                <div id="collapseOne" class="collapse" aria-labelledby="headingOne"
                                    data-parent="#accordion">
                                    <div class="card-body">
                                        <div id="chat-members">
                                        </div>
                                        <form id="add-friend-form">
                                            <input id="add-friend-name" type="text" placeholder="Friends name"></input>

                                            <button class="fancy-button">Add to chat</button>
                                        </form>

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <p id="room-id">
                <%= room._id %>
            </p>

            <%- include('partials/footer'); %>

                <script src="/emojis.js"></script>
                <script src="/app.js"></script>
    </body>

    </html>