<%- include('partials/head'); %>

    <body>

        <%- include('partials/navbar'); %>
            <h1 id="chategorize">
                Chategorize
            </h1>

            <div id="centered">
                <table id="centered-links">
                    <thead>
                        <tr>
                            <th colspan="2">
                                <h2 id="yourname" class="personal-info">
                                    <% let capital=currUser.username[0].toUpperCase() %>
                                        <%= capital + currUser.username.slice(1) %> 's chats

                                </h2>
                            </th>
                        </tr>
                    </thead>
                    <tbody id="chatLinks">
                        <% for (let chat of chats) { %>

                            <tr>

                                <td><a class="chat-titles" href="/chatname/<%=chat._id%> ">
                                        <%=chat.name %>
                                    </a></td>

                            </tr>
                            <% } %>

                                <tr>
                                    <td>
                                        <a class="fancy-button" href="/new">New</a>

                                    </td>
                                </tr>
                    </tbody>
                </table>
            </div>
            </div>

            <%- include('partials/footer'); %>

    </body>

    </html>